.mint-searchbar{
    background-color: #fff;
    margin-right: 1rem;
};
.mintui-search {
    font-size: 14px !important;
    padding-right: .2rem !important;
}
.mint-search{
    width: 100%;
    height:1.04rem
}
.mint-searchbar {
    height: 1.04rem;
}
.mint-searchbar-inner{
    background:rgba(246,248,250,1);
}
.mintui-search {
    font-size: .33rem !important;
    padding-right: .15rem !important;
}
.mint-field-core {
    text-align: right;
    padding-right: .2rem;
}
.mint-field-clear {
    display: none;
}
.mint-searchbar-cancel{
    display: none;
}
.mint-search-list {
    display: none !important;
}

.mint-field-core {
    /* width: 3rem; */
    text-overflow: ellipsis;
    font-size: 14px;
    flex: 0 0 80%;
    padding-left: .5rem;
    box-sizing: border-box;
    /* padding-right: 0rem;     */

}
.mint-field .mint-cell-value {
    flex: 0 0 85%;
    /* width: 3rem; */
    text-overflow: ellipsis
}
.mint-cell-text {
    font-size: 14px;
}
.mint-cell-wrapper{
    padding: 0 .3rem;
}

.mint-field .mint-cell-value:nth-last-child(3) {
    flex: 0 0 82%;
}

.mint-datetime-action:nth-last-child(1) {
    text-align: right;
    padding-right: .3rem;
    box-sizing: border-box;
}
.mint-datetime-action {
    text-align: left;
    padding-left: .3rem;
    box-sizing: border-box;
}