.mint-searchbar {
  background-color: #fff;
  margin-right: 1rem;
}

.mint-field-other {
  top: 0;
  right: 0;
  position: relative;
}

.line>.mint-cell>.mint-cell-wrapper>.mint-cell-title{
  width: 4.4rem;
}
.mintui-search {
  font-size: 16px !important;
  padding-right: .2rem !important;
}

.mint-search {
  width: 100%;
  height: 1.04rem
}

.mint-searchbar {
  height: 1.04rem;
}
.mint-searchbar-inner {
  /* background: rgba(246, 248, 250, 1); */
  /* .mint-searchbar-inner{ */
  background:rgba(246,248,250,1);;
  height: .56rem;
  border-radius:4px;
}

.mintui-search {
  font-size: .33rem !important;
  padding-right: .15rem !important;
}

.mint-field-core {
  text-align: right;
  padding-right: .2rem;
}

.mint-field-clear {
  display: none;
}

.mint-searchbar-cancel {
  display: none;
}

.mint-search-list {
  display: none !important;
}

.mint-field-core {
  /* width: 3rem; */
  word-break:break-world;
  font-size: 16px;
  /* flex: 0 0 80%; */
  /*padding-left: .1rem;*/
  box-sizing: border-box;
  /* padding-right: 0rem;     */

}

.mint-field .mint-cell-value {
  /* flex: 0 0 85%; */
  /* width: 3rem; */
  /* word-break:break-world */
}

.mint-cell-text {
  font-size: 16px;
}

.mint-cell-wrapper {
  padding: 0 .3rem;
  background-image: none;
}
.mint-field .mint-cell-value:nth-last-child(3) {
  flex: 0 0 82%;
}

.mint-datetime-action:nth-last-child(1) {
  text-align: right;
  padding-right: .3rem;
  box-sizing: border-box;
}

.mint-datetime-action {
  text-align: left;
  padding-left: .3rem;
  box-sizing: border-box;
}
.mint-cell-wrapper {
  background-image: -webkit-linear-gradient(top, #fff, #fff 50%, transparent 50%);
  background-image: linear-gradient(180deg, #fff, #fff 50%, transparent 50%);
}
/* .inputs input::-webkit-input-placeholder{
    color:#0076FF;
} */
#page{
  font-size: 16px;
}
.mint-cell{
  border-bottom: 1px solid #dcdfe6;
}
.mint-cell-wrapper::after{
  width: 100%;
  /* height: 1px; */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #f2f2f2;
  transform: scaleY(0.5)
}

.mint-cell {
  border-bottom: 0.5px solid #f2f2f2;
}

.mint-cell:last-child {
  background-image: -webkit-linear-gradient(bottom, #f2f2f2, #f2f2f2 50%, transparent 50%);
  background-image: linear-gradient(0deg, #f2f2f2, #f2f2f2 50%, transparent 50%);
  background-size: 100% 0px;
  background-repeat: no-repeat;
  background-position: bottom;
}