*{margin: 0;padding: 0;font-weight: normal; letter-spacing: 0.01rem;}
html,body{width: 100%;height: 100%;font-size: 0.26rem; font-family:"PingFangSC-Regular,PingFang SC",Arial,Helvetica,sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0);color:rgba(38,39,40,1);}
html,body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dt,dd,form,fieldset,div,legend,img,article,aside,footer,header,hgroup,main,nav,section,p,li,input{ margin:0; padding:0;}
img{display: block;}
ul,ol{ list-style:none;}
a{ text-decoration:none;color: rgba(38,39,40,1);}
input{border: none;outline:none; -webkit-appearance: none;background: none;}
.clear:after{ content:"."; clear:both; height:0; display:block; overflow:hidden;}
strong{font-weight:100;}
i{font-style: normal;}
textarea {border: 0;outline: none;resize: none;}
/*图片样式*/
.img_cover{object-fit: cover;width: 100%;height: 100%;}
.img_contain{object-fit: contain;width: 100%;height: 100%;}
.img_full{width: 100% ;height: auto;}
.img_radius{width: 60px;height: 60px;border-radius:100% ;object-fit: cover;}
/*文字样式*/
/*一行，两行，三行溢出隐藏*/
.ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ellipsis_2{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.ellipsis_3{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}



/* .page {
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0px;
		left: 0;
		background: #fff;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
  } */
  

/* 
.oneTop::after{
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #DDDDDD;
    transform: scaleY(0.5)
  }

  .oneleft::after{
    width: 1px;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid #DDDDDD;
    transform: scaleX(0.5)
  }

  .oneRight::after{
    width: 1px;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid #DDDDDD;
    transform: scaleX(0.5)
  } */

  .border,
  .border-top,
  .border-right,
  .border-bottom,
  .border-left,
  .border-topbottom,
  .border-rightleft,
  .border-topleft,
  .border-rightbottom,
  .border-topright,
  .border-bottomleft {
      position: relative;
  }

  .border::before,
.border-top::before,
.border-right::before,
.border-bottom::before,
.border-left::before,
.border-topbottom::before,
.border-topbottom::after,
.border-rightleft::before,
.border-rightleft::after,
.border-topleft::before,
.border-topleft::after,
.border-rightbottom::before,
.border-rightbottom::after,
.border-topright::before,
.border-topright::after,
.border-bottomleft::before,
.border-bottomleft::after {
    content: "\0020";
    overflow: hidden;
    position: absolute;
}

.border::before {
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #f2f2f2;
  transform-origin: 0 0;
}
.border-top::before,
.border-bottom::before,
.border-topbottom::before,
.border-topbottom::after,
.border-topleft::before,
.border-rightbottom::after,
.border-topright::before,
.border-bottomleft::before {
  left: 0;
  width: 100%;
  height: 1px;
}

.border-right::before,
.border-left::before,
.border-rightleft::before,
.border-rightleft::after,
.border-topleft::after,
.border-rightbottom::before,
.border-topright::after,
.border-bottomleft::after {
    top: 0;
    width: 1px;
    height: 100%;
}

.border-top::before,
.border-topbottom::before,
.border-topleft::before,
.border-topright::before {
    border-top: 1px solid #f2f2f2;
    transform-origin: 0 0;
}
.border-right::before,
.border-rightbottom::before,
.border-rightleft::before,
.border-topright::after {
    border-right: 1px solid #f2f2f2;
    transform-origin: 100% 0;
}
.border-bottom::before,
.border-topbottom::after,
.border-rightbottom::after,
.border-bottomleft::before {
    border-bottom: 1px solid #f2f2f2;
    transform-origin: 0 100%;
}

.border-left::before,
.border-topleft::after,
.border-rightleft::after,
.border-bottomleft::after {
    border-left: 1px solid #f2f2f2;
    transform-origin: 0 0;
}
.border-top::before,
.border-topbottom::before,
.border-topleft::before,
.border-topright::before {
    top: 0;
}
.border-right::before,
.border-rightleft::after,
.border-rightbottom::before,
.border-topright::after {
    right: 0;
}
.border-bottom::before,
.border-topbottom::after,
.border-rightbottom::after,
.border-bottomleft::after {
    bottom: 0;
}

.border-left::before,
.border-rightleft::before,
.border-topleft::after,
.border-bottomleft::before {
    left: 0;
}
@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
    /* 默认值，无需重置 */
}
@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
    .border::before {
        width: 200%;
        height: 200%;
        transform: scale(.5);
    }
    .border-top::before,
    .border-bottom::before,
    .border-topbottom::before,
    .border-topbottom::after,
    .border-topleft::before,
    .border-rightbottom::after,
    .border-topright::before,
    .border-bottomleft::before {
        transform: scaleY(.5);
    }
    .border-right::before,
    .border-left::before,
    .border-rightleft::before,
    .border-rightleft::after,
    .border-topleft::after,
    .border-rightbottom::before,
    .border-topright::after,
    .border-bottomleft::after {
        transform: scaleX(.5);
    }
}
@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
    .border::before {
        width: 300%;
        height: 300%;
        transform: scale(.33333);
    }
    .border-top::before,
    .border-bottom::before,
    .border-topbottom::before,
    .border-topbottom::after,
    .border-topleft::before,
    .border-rightbottom::after,
    .border-topright::before,
    .border-bottomleft::before {
        transform: scaleY(.33333);
    }
    .border-right::before,
    .border-left::before,
    .border-rightleft::before,
    .border-rightleft::after,
    .border-topleft::after,
    .border-rightbottom::before,
    .border-topright::after,
    .border-bottomleft::after {
        transform: scaleX(.33333);
    }
}